.signup-login-container {
  color: #000000;
  display: flex;
  flex-direction: row;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  height: 100vh;
}

.auth-page-image {
  width: 60vw;
}

.auth-content-container {
  padding-left: 88px;
  padding-right: 88px;
  padding-top: 104px;
  width: 40vw;
}

.auth-header-container {
  /*  */
}

.auth-header-title {
  font-size: 40px;
  font-weight: bold;
}

.auth-header-info {
  font-size: 18px;
  margin-top: 64px;
}

.auth-form-container {
  margin-top: 96px;
}

.auth-form-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-tab {
  border-bottom-color: #b8b8b8;
  border-bottom-width: 1px;
  cursor: pointer;
  font-size: 18px;
  padding-bottom: 8px;
  text-align: center;
  width: 50%;
}

.auth-form-inputs-container {
  margin-top: 24px;
}

.tab-input {
  background-color: #eeeeee;
  margin-top: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  width: 100%;
}

.tab-input::placeholder {
  color: #6c6c6c;
}

/* -------------------------------------------------------------------------- */
/* UNIVERSAL PAGE STYLES */
/* -------------------------------------------------------------------------- */
.disabled-tab {
}

.selected-tab {
  border-bottom-color: #000000;
  border-bottom-width: 2px;
  cursor: default;
  font-weight: bold;
}
