.DesktopOboarding .hover-state {
  border-bottom: 4px solid #0EB582;
}

.DesktopOboarding .requester-steps img {
  min-height: 125px;
}

.DesktopOboarding .final-step img {
  min-height: 172px;
}

.DesktopOboarding .close-button {
  top: -2rem;
  right: 1rem;
}