/* ======= Mobile navigation ================ */
.sidebar-nav-xs {
  z-index: 100;
  bottom: 0;
  left: 0;
  background-color: rgba(248, 248, 248, 0.95);
  -webkit-backdrop-filter: blur(27.2px);
  backdrop-filter: blur(27.2px);
  font-size: 0.625rem;
  border-top: 1px solid #DBDBDB;
}

.sidebar-nav-xs svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* Active menu item styles (Mobile menu) */
.sidebar-nav-xs .nav-item-active {
  color: #06a674;
}

.sidebar-nav-xs a.nav-item-active svg:not(.icon-create):not(.icon-leaderboard) path {
  stroke: #06a674;
}

.sidebar-nav-xs a.nav-item-active svg.icon-create path,
.sidebar-nav-xs a.nav-item-active svg.icon-leaderboard path {
  fill: #06a674;
}

/* ======= Tablet + navigation ================ */
.sidebar-nav-sm {
  font-size: .875rem;
}

.sidebar-nav-sm button > span.border {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.sidebar-nav-sm li.nav-item-active:before {
  position: absolute;
  bottom: -4px;
  height: 2px;
  background-color: #06a674;
  left: 0;
  width: 100%;
  content: '';
  display: block;
}

/* ======= Media Queries ================ */

@media all and (max-width: 414px) {
  .sidebar-nav-sm {
    display: none;
  }
}

@media all and (min-width: 415px) {
  .sidebar-nav-xs {
    display: none;
  }

  .sidebar-nav-sm {
    display: block;
  }
}

/* XL Devices/Desktop */
@media all and (min-width: 1280px) {
  .sidebar-nav-sm {
    font-size: 1rem;
  }

  .sidebar-nav-sm button > span.border {
    box-shadow: none;
  }

  .sidebar-nav-sm li.nav-item-active:before {
    display: none;
  }
}
